{% extends 'imagersite/base.html' %}
{% load static %}
{% block content %}
<div>
    {% if photo is None %}
    <div class="col-sm-6 col-md-4">
        <a class="lightbox">
            <img src="{% static 'pikachu.jpg' %}" alt="Pikachu">
        </a>
    </div>
    {% else %}
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{{ photo.file.url }}">
            <img src="{{ photo.file.url }}">
        </a>
    </div>
    {% endif %}
    <a class="nav-link active" href="{% url 'library' %}">Library</a>
    <a class="nav-link active" href="{% url 'all_albums' %}">Albums</a>
    <a class="nav-link active" href="{% url 'all_photos' %}">Photos</a>
</div>
{% endblock %}